#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_58keys.h"

/* layer and key shortcuts */

#define DEF 0  // layer shortcuts, must match order in which they are defined below
#define SHIFT 1 

/* custom Keys */
#define CANCEL      &kp K_CANCEL       // cancel caps-word and num-word
#define DSK_PREV    &kp LG(LC(LEFT))   // previous desktop
#define DSK_NEXT    &kp LG(LC(RIGHT))  // next     desktop

/* Settings */
#define QUICK_TAP_MS 175

/* custom behaviors */
ZMK_BEHAVIOR(circonflex, macro,
     wait-ms = <10>;
     tap-ms = <5>;
     bindings
     = <&macro_press &kp LALT>
     , <&macro_tap &kp N0 &kp N0 &kp N5 &kp E>
     , <&macro_release &kp LALT>
     ;
)
ZMK_BEHAVIOR(euro, macro,
     wait-ms = <10>;
     tap-ms = <5>;
     bindings
     = <&macro_press &kp LALT>
     , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N8>
     , <&macro_release &kp LALT>
     ;
)
ZMK_BEHAVIOR(e_aigu, macro,
     wait-ms = <10>;
     tap-ms = <5>;
     bindings
     = <&macro_press &kp LALT>
     , <&macro_tap &kp KP_N1 &kp KP_N3 &kp KP_N0>
     , <&macro_release &kp LALT>
     ;
)
ZMK_BEHAVIOR(e_grave, macro,
     wait-ms = <10>;
     tap-ms = <5>;
     bindings
     = <&macro_press &kp LALT>
     , <&macro_tap &kp KP_N1 &kp KP_N3 &kp KP_N8>
     , <&macro_release &kp LALT>
     ;
)
ZMK_BEHAVIOR(a_grave, macro,
     wait-ms = <10>;
     tap-ms = <5>;
     bindings
     = <&macro_press &kp LALT>
     , <&macro_tap &kp KP_N1 &kp KP_N3 &kp KP_N3>
     , <&macro_release &kp LALT>
     ;
)

&led_strip {
    chain-length = <34>;
};

/* keymap */
ZMK_UNICODE_SINGLE(euro_sign, N2, N0, A, C)
ZMK_UNICODE_PAIR(U_A,   N0, N0, N6, N1,   N0, N0, N4, N1)
ZMK_UNICODE_PAIR(U_B,   N0, N0, N6, N2,   N0, N0, N4, N2)
ZMK_UNICODE_PAIR(U_C,   N0, N0, N6, N3,   N0, N0, N4, N3)
ZMK_UNICODE_PAIR(U_D,   N0, N0, N6, N4,   N0, N0, N4, N4)

ZMK_LAYER(default_layer,
     // ╭──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────╮                                             ╭──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────╮
          &none              &U_C               &U_D               &none              &none              &none                                                            &none              &none              &none              &none              &none              &none
     // ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                                             ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
          &kp TAB            &U_B               &fr_a_grave        &none              &none              &none                                                            &none              &none              &none              &none              &none              &none
     // ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                                             ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
          &kp LSHIFT         &U_A               &fr_e_grave        &none              &none              &none                                                            &none              &none              &none              &none              &none              &none
     // ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤ ╭──────────────────╮   ╭──────────────────╮ ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
          &kp LCTRL          &none              &euro_sign         &none              &none              &none                &none                  &none                &none              &none              &none              &none              &none              &kp RCTRL
     // ╰──────────────────┴──────────────────┴──────────────────┼──────────────────┼──────────────────┼──────────────────┤ ├──────────────────┤   ├──────────────────┤ ├──────────────────┼──────────────────┼──────────────────┼──────────────────┴──────────────────┴──────────────────╯
                                                                   &kp LGUI           &kp LALT           &none                &kp SPACE              &kp RET              &none              &kp BACKSPACE      &kp RALT
     //                                                          ╰──────────────────┴──────────────────┴──────────────────╯ ╰──────────────────╯   ╰──────────────────╯ ╰──────────────────┴──────────────────┴──────────────────╯
     , &inc_dec_kp C_VOL_DN C_VOL_UP
)