#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_58keys.h"

/* layer and key shortcuts */

#define DEF 0  // layer shortcuts, must match order in which they are defined below

/* custom Keys */
#define CANCEL      &kp K_CANCEL       // cancel caps-word and num-word
#define DSK_PREV    &kp LG(LC(LEFT))   // previous desktop
#define DSK_NEXT    &kp LG(LC(RIGHT))  // next     desktop

/* Settings */
#define QUICK_TAP_MS 175

/* custom behaviors */
ZMK_BEHAVIOR(circonflex, macro,
     wait-ms = <10>;
     tap-ms = <5>;
     bindings
     = <&macro_press &kp LALT>
     , <&macro_tap &kp N0 &kp N1 &kp N2 &kp N8>
     , <&macro_release &kp LALT>
     ;
)
ZMK_BEHAVIOR(euro, macro,
     wait-ms = <10>;
     tap-ms = <5>;
     bindings
     = <&macro_press &kp LALT>
     , <&macro_tap &kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N8>
     , <&macro_release &kp LALT>
     ;
)
ZMK_BEHAVIOR(e_aigu, macro,
     wait-ms = <10>;
     tap-ms = <5>;
     bindings
     = <&macro_press &kp LALT>
     , <&macro_tap &kp KP_N1 &kp KP_N3 &kp KP_N0>
     , <&macro_release &kp LALT>
     ;
)
ZMK_BEHAVIOR(e_grave, macro,
     wait-ms = <10>;
     tap-ms = <5>;
     bindings
     = <&macro_press &kp LALT>
     , <&macro_tap &kp KP_N1 &kp KP_N3 &kp KP_N8>
     , <&macro_release &kp LALT>
     ;
)
ZMK_BEHAVIOR(a_grave, macro,
     wait-ms = <10>;
     tap-ms = <5>;
     bindings
     = <&macro_press &kp LALT>
     , <&macro_tap &kp KP_N1 &kp KP_N3 &kp KP_N3>
     , <&macro_release &kp LALT>
     ;
)

&led_strip {
    chain-length = <34>;
};

/* keymap */


ZMK_LAYER(default_layer,
     // ╭──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────╮                                             ╭──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────┬──────────────────╮
          &kp ESC            &kp DQT            &kp PIPE           &kp AT             &kp AMPS           &euro                                                            &kp DOLLAR         &kp PLUS           &kp MINUS          &kp FSLH           &kp STAR           &kp PERCENT
     // ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                                             ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
          &kp TAB            &kp B              &e_aigu            &kp P              &kp O              &e_grave                                                         &kp W              &kp V              &kp D              &kp L              &kp J              &kp Z
     // ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤                                             ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
          &none              &kp A              &kp U              &kp I              &kp E              &kp COMMA                                                        &kp C              &kp T              &kp S              &kp R              &kp N              &kp M
     // ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤ ╭──────────────────╮   ╭──────────────────╮ ├──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┼──────────────────┤
          &kp LCTRL          &a_grave           &kp Y              &kp X              &kp DOT            &kp K                &none                  &kp CARET            &kp SINGLE_QUOTE   &kp Q              &kp G              &kp H              &kp F              &kp RCTRL
     // ╰──────────────────┴──────────────────┴──────────────────┼──────────────────┼──────────────────┼──────────────────┤ ├──────────────────┤   ├──────────────────┤ ├──────────────────┼──────────────────┼──────────────────┼──────────────────┴──────────────────┴──────────────────╯
                                                                   &kp LGUI           &kp LALT           &none                &kp SPACE              &kp RET              &none              &kp BACKSPACE      &kp RALT
     //                                                          ╰──────────────────┴──────────────────┴──────────────────╯ ╰──────────────────╯   ╰──────────────────╯ ╰──────────────────┴──────────────────┴──────────────────╯
     , &inc_dec_kp C_VOL_DN C_VOL_UP
)
